<div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="vertical-align">
        <div class="card4 darken-2">
            <div class="card-content white-text text-lighten-2">
                <h1 class="center-align">Dashboard</h1>
                <p class="center-align">Welcome, <%= firstName %> <%= lastName %> You are Signed in</p>
                <hr>
                <a class="btn waves-effect " href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
