<div class="container-fluid">
  <div class="row fixed-top">
      <div class="col-1">
        <a href="/GAMEscreen">
        <div class="shape-left">
          <div id="square">
            <img src="assets/backarrow.png" class="arrow w-75">
          </div>
          <div id="triangle-topleft"></div>
        </div>
        </a>
      </div>
      <div class="col-10">
        <div class="logo">
          <img src="assets/niddel-4.png" class="logo" height="100px" width="120px">
        </div>
      </div>
      <div class="col-1">
        <a href="/dashboard">
        <div class="shape-right">
          <div id="triangle-topright"></div>
          <div id="square">
              <img src="assets/logout.png" class="logout w-75" >
          </div>
        </div>
        </a>
      </div>
  </div>
</div>




<div class="container">
<div class="row">
  <div class="w-100">
      <div class="card3 w-75 justify-content-center">
     <div class="card-body text-center">
    <div class="rank">
    <img src="assets/whiteICON.png" class="img-fluid" height="180px" width=200px"</img>
    <p class="card-text"> Hey, <%= firstName %> <%= lastName %> <br> you currently have .. locations saved</p>
    <p class="card-text share">share via:</p>
      <div class="col-7">
        <div class="justify-content-center d-flex float-right">
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
        
        </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
