<div class="container-fluid">
  <div class="row">
    <div class="w-100">
      <div class="col-lg-6 col-md-6">
        <div class="shape-left">
          <div id="square"></div>
          <div id="triangle-topleft"></div>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-auto col-md-auto">
        <div class="d-flex justify-content-center fixed-top">
          <img src="assets/niddel-4.png" class="img-responsive" height="100px" width="120px">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-auto col-md-auto">
      <div class="d-flex justify-content-start fixed-top ">
        <a href="GAMEscreen.html"><img src="assets/backarrow.png" class="arrow" height="50px" width="50px"></a>
      </div>
    </div>
</div>
</div>
      <div class="col-lg-auto col-md-auto">
        <div class="shape-right fixed-top">
          <div id="triangle-topright"></div>
          <div id="square"></div>
        </div>
      </div>
    </div>
  </div>


<div class="container">
<div class="row">
  <div class="w-100">
      <div class="card3 w-50 justify-content-center">
     <div class="card-body text-center">
    <p class="card-text heading">RANK LEADERBOARD</p>
    <div class="rank">
      <p>1.</p>
      <p>2.</p>
      <p>3.</p>
      <p>4.</p>
      <p>5.</p>
  </div>
    </div>
  </div>
</div>
</div>
</div>
