<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-auto col-md-auto">
        <div class="card w-100 d-flex align-items-center justify-content-center">
          <div class="card-body text-center">
            <div class="verical-align">
              <img src="/assets/niddel-4.png" class="img-fluid" alt="Responsive image" height="200px" width="240px">
            </div>

            <form action="/account/signin" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" placeholder="Password" name="psw">
                </div>
                <button type="submit" class="btn justify-content-center align-items-center" name="action">sign in</button>

            </form>
            <div class="text-center">
              <p>I don't have an account?</P>
                <div class="text-center">
                  <a href="/account/signup" class="log"><p>Sign up</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
